@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Conference Session Manager</h5>
                        <form>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Will Velida" asp-for="SessionSpeaker" />
                                <label for="floatingInput">Speaker Name</label>
                            </div>
                            <div class="d-grid">
                                <input type="submit" class="btn btn-primary btn-login text-uppercase fw-load" value="Load Sessions" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
