@page
@model SessionManager.UI.Pages.Sessions.CreateModel
@{
}

<h1>Create New Session</h1>

<h4>Session Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreateSessionDto!.Name" class="control-label"></label>
                <input asp-for="CreateSessionDto!.Name" class="form-control" />
                <span asp-validation-for="CreateSessionDto!.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreateSessionDto!.Description" class="control-label"></label>
                <input asp-for="CreateSessionDto!.Description" class="form-control" />
                <span asp-validation-for="CreateSessionDto!.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreateSessionDto!.Start" class="control-label"></label>
                <input asp-for="CreateSessionDto!.Start" class="form-control" type="datetime" />
                <span asp-validation-for="CreateSessionDto!.Start" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreateSessionDto!.End" class="control-label"></label>
                <input asp-for="CreateSessionDto!.End" class="form-control" type="datetime" />
                <span asp-validation-for="CreateSessionDto!.End" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreateSessionDto!.Location" class="control-label"></label>
                <input asp-for="CreateSessionDto!.Location" class="form-control" />
                <span asp-validation-for="CreateSessionDto!.Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreateSessionDto!.Speaker" class="control-label"></label>
                <input asp-for="CreateSessionDto!.Speaker" class="form-control" />
                <span asp-validation-for="CreateSessionDto!.Speaker" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreateSessionDto!.SpeakerEmail" class="control-label"></label>
                <input asp-for="CreateSessionDto!.SpeakerEmail" class="form-control" />
                <span asp-validation-for="CreateSessionDto!.SpeakerEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to Sessions</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
