@page
@model SessionManager.UI.Pages.Sessions.EditModel
@{
}

<h1>Edit Session</h1>

<h4>Session Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UpdateSessionDto!.Id" />
            <div class="form-group">
                <label asp-for="UpdateSessionDto!.Name" class="control-label"></label>
                <input asp-for="UpdateSessionDto!.Name" class="form-control" />
                <span asp-validation-for="UpdateSessionDto!.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdateSessionDto!.Description" class="control-label"></label>
                <input asp-for="UpdateSessionDto!.Description" class="form-control" />
                <span asp-validation-for="UpdateSessionDto!.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdateSessionDto!.Start" class="control-label"></label>
                <input asp-for="UpdateSessionDto!.Start" class="form-control" type="datetime" />
                <span asp-validation-for="UpdateSessionDto!.Start" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdateSessionDto!.End" class="control-label"></label>
                <input asp-for="UpdateSessionDto!.End" class="form-control" type="datetime" />
                <span asp-validation-for="UpdateSessionDto!.End" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdateSessionDto!.Location" class="control-label"></label>
                <input asp-for="UpdateSessionDto!.Location" class="form-control" />
                <span asp-validation-for="UpdateSessionDto!.Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdateSessionDto!.Speaker" class="control-label"></label>
                <input asp-for="UpdateSessionDto!.Speaker" class="form-control" />
                <span asp-validation-for="UpdateSessionDto!.Speaker" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdateSessionDto!.SpeakerEmail" class="control-label"></label>
                <input asp-for="UpdateSessionDto!.SpeakerEmail" class="form-control" />
                <span asp-validation-for="UpdateSessionDto!.SpeakerEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to Sessions</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
